<li>
	{{p_name}}

	<button class="change-adopted" data-id="{{id}}" data-newadopted="{{adopted}}">
		{{#if adopted}}wait.{{else}}adopt!{{/if}}
	</button>

	<button class="delete-puppy" data-id="{{this.id}}">send home!</button>
</li>
